*
  box-sizing: border-box
 
body
  color: $text-color
  +reg
  margin: 0

.container
  margin-bottom: 130px
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 960px
    margin: auto
@media (max-width: 960px)
  .container
    width: 768px
    margin: auto
@media (max-width: 768px)
  .container
    width: 576px
    margin: auto
@media (max-width: 576px)
  .container
    width: 320px
    margin: auto
@media (max-width: 320px)
  .container, .navbar-container
    width: 290px
    margin: auto

  
  margin: auto
.text-bold
  +bold
  padding-left: 5px

.button
  background-color: $main-color
  color: $text-color
  border: none
  outline: none
  cursor: pointer
  &:hover
    background-color: lighten($main-color, 15%)
  &:focus
    outline: none
.main
  &-header
    height: 58px
    width: 244px
    background-color: $main-color
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    margin-top: -30px
    margin-left: -35px
    z-index: 6
    &__title
      font-size: 28px
      font-weight: 400
      line-height: 28px
      +bold
      margin: auto
      text-transform: uppercase
@media (max-width: 1100px)
  .main
    &-header
      margin-left: 5%

@media (max-width: 1270px)
  .main
    &-header
      margin-left: 6%
@media (max-width: 768px)
  .main
    &-header
      left: 43%
      transform: translate(-50%, -50%);  // выравнивание эллемента при абсолютном позиционировании + оступы задавать в процентах для адаптивности
      margin-top: 0         
      &__services
       transform: translate(-35%, -65%);
       bottom: -70px
       left: 38%
@media (max-width: 576px)
  .main
    &-header
      &__services
        left: 33%
@media (max-width: 320px)
  .main
    &-header
      left: 44%
      &__services
        left: 31%

       



/* Делаем карту чёрно-белой а метка остается цветной */ 
[class*="ymaps-2-1"][class*="-ground-pane"]
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
  -webkit-filter: grayscale(100%)

input.invalid, input.invalid-2
  position: relative

#phone, #username
  color: red
  &-error
    position: absolute
    font-size: 14px
    line-height: 15px
    display: block
    color: red
    max-width: 70%
    transform: translate(5%, -50%)
    z-index: 1
#username
  &-error
    top: 25%
    left: 15%
#phone
  &-error
    top: 58%
    left: 35%
@media (max-width: 450px)
  #phone, #username
    &-error   
      font-size: 12px
      line-height: 16px
  #username
    &-error
      top: 30%

.map 
  height: 666px
  width: 100%
 