*
  box-sizing: border-box
 
body
  color: $text-color
  +reg

.container
  margin-bottom: 130px
  
  margin: auto
.text-bold
  +bold
  padding-left: 5px

.button
  background-color: $main-color
  color: $text-color
  border: none
  outline: none
  cursor: pointer
  &:hover
    background-color: lighten($main-color, 15%)
  &:focus
    outline: none
