.features
  padding-top: 143px
  display: flex
  margin-bottom: 142px
  &-container
    display: flex
    flex-wrap: wrap
  &-block
    padding-top: 54px
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    flex-basis: 60%
    &__image
     display: block
     margin-top: -10px
     margin-bottom: 15px 
    &__text
      font-size: 18px
      text-transform: uppercase
      text-align: center
    &__item
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      max-height: 168px
      max-width: 198px
      background-color: #fff
      min-height: 168px
      min-width: 198px
      margin-top: 36px
      margin-right: 36px
  &-list
    margin-top: 63px
    flex-direction: 40%
    &__block
      list-style-type: none
    &__text
      display: flex
      padding-left: 67px
      position: relative
      font-size: 20px
      line-height: 25px
      

      &:before
        content: ''
        position: absolute
        width: 31px
        height: 2px
        background-color: $text-color
        left: 10px
        bottom: 33px
    &__item
      display: flex
      justify-content: 
      align-items: center
    &__counter
      max-width: 22px
      max-height: 24px
      
     
      
   
.first
  margin-left: 5px
.second, .third
  margin-top: -5px

  
   