.hero
  position: relative
  &-text
    float: left
  &__title
    margin-top: 197px
    color: $main-color
    +bold
    font-size: 35px
    line-height: 55px
    text-transform: uppercase
    letter-spacing: 0.1px
    z-index: 1 
    position: relative
    max-width: 1170px
    margin-left: auto
    margin-right: auto
    
  &__subtitle
    color: $light
    +reg
    font-size: 35px
    line-height: 55px
    font-weight: 400
    margin-top: -28px
    margin-bottom: 16px
    position: relative
    max-width: 1170px
    margin-left: auto
    margin-right: auto
    
  &__description
    opacity: 0.42
    color: $light
    +reg
    font-size: 20px
    line-height: 28px
    margin-top: 0
    margin-bottom: 53px
    position: relative
    max-width: 1170px
    margin-left: auto
    margin-right: auto
    
  &__button
    width: 185px
    height: 44px
    text-transform: uppercase
    +bold
    line-height: 40px
    font-size: 18px
    position: relative
    
  &__button
    &-wrap
      max-width: 1170px
      margin: auto


@media (max-width: 1200px)
  .hero
    &__title,
    &__subtitle,
    &__description,
    &__button-wrap
      width: 960px  
      margin-right: auto
      margin-left: auto
@media (max-width: 960px)
 .hero
    &__title,
    &__subtitle,
    &__description,
    &__button-wrap
      width: 768px
      margin-right: auto
      margin-left: auto
@media (max-width: 768px)
  .hero
    &__title,
    &__subtitle,
    &__description,
    &__button-wrap
      width: 576px
      margin-right: auto
      margin-left: auto
    &__title, 
      margin-top: 70px
      font-size: 28px
      line-height: 32px
      margin-bottom: 40px
    &__subtitle
      font-size: 28px
      line-height: 32px
@media (max-width: 576px)
  .hero
    &__title,
    &__subtitle,
    &__description,
    &__button-wrap
      width: 320px
      margin-right: auto
      margin-left: auto
    &__title, &__subtitle
      font-size: 22px
      line-height: 28px
      text-align: center
    &__description
      font-size: 18px
      line-height: 22px
    &__button
      margin-left: 18%
@media (max-width: 320px)
  .hero
    &__title,
    &__subtitle,
    &__description,
    &__button-wrap
      width: 290px
      margin-right: auto
      margin-left: auto
@media (max-width: 450px)
  .hero
    &__title, &__subtitle
      font-size: 18px
      line-height: 22px
    &__description
      flex-shrink: 16px
      line-height: 20px
      width: 300px
      margin-right: auto
      margin-left: auto
      margin-bottom: 40px

