.navbar
  display: flex
  &-logo
    min-width: 50px
    min-height: 67px
  &-menu
    &-list
      display: flex
      list-style-type: none
    
  &-contacts
    display: flex
    &__button
      min-width: 138px
      min-height: 30px
      max-height: 30px
      