.slider
  &__image
    position: relative
    width: 100%
    max-height: 740px
    
  &__dots
    position: absolute
    top: 88%
    right: 47%
    display: flex
    justify-content: space-between
    width: 150px
    background: none
    li
      button
        border: none
        width: 20px
        height: 20px
        background-color: #fff
        font-size: 0
        cursor: pointer
        
ul
  list-style-type: none

// Настройка dots при активном состоянии 
.slick-active
  button
    &:focus
      border: none
      background-color: $main-color
      outline: none
  &:first-child
    button
      background-color: $main-color // натройка первого слайда (когда активный+перелистывание)
  &:last-child
    button
      background-color: $main-color 
  &:nth-child(2n) 
    button
      background-color: $main-color 
  &:nth-child(3n) 
    button
      background-color: $main-color 
@media (max-width: 1050px)
  .slider
    &__dots
      top: 80%
@media (max-width: 960px)
  .slider
    &__image
      min-height: 700px
      width: 150%

@media (max-width: 850px)
  .slider
    &__dots
      top: 75%
      width: 100px
      li
        button
          height: 10px
          width: 10px
    &__image
      min-height: 500px
      width: 200%

@media (max-width: 450px)
  .slider
    &__dots
      top: 85%
      width: 100px
@media (max-width: 576px)
  .slider
    width: 100%
    &__image
      min-height: 300px
      width: 300%
      justify-content: center
      align-items: center
      display: flex
@media (max-width: 420px)
  .slider
    width: 100%
    &__image
      min-height: 300px
      width: 300%
      justify-content: center
      align-items: center
      display: flex
      

      

  